{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<h1 class="hedding-text">Home</h1>

<div class="row">
  {% for post in posts %}
    <div class="col-md-4">
      <div class="card h-100">
        {% if post.images %}
        <img src="{{ post.images.url }}" class="card-img-top">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'detail-post' pk=post.id %}">{{ post.location_name }}</a></h5>
          <p class="card-text">{{ post.address }}</p>
          <p class="card-text">{{ post.post_content }}</p>
          <button type="button" class="btn btn-success">{{ post.category }}</button>
          <!-- <p class="card-text">{{ post.category }}</p> -->
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
